<?xml version="1.0"?>
<robot name="three_circle_hole">
    <link name="three_circle_hole">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="../mesh/factory_insertion/three_circle_hole.obj"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <mesh filename="../mesh/factory_insertion/three_circle_hole.obj"/>
            </geometry>
            <sdf resolution="256"/>
        </collision>
        <inertial>
          <density value="567.0"/>
        </inertial>
    </link>

    <joint name="base_to_setpoint" type="fixed">
      <parent link="three_circle_hole"/>
      <child link="set_point"/>
      <origin rpy="0 0 0" xyz="0 0 -0.03"/>
    </joint>

    <link name="set_point">
      <visual>
        <geometry>
          <sphere radius="0.00005"/>
        </geometry>
        <material name="Vis"/>
        <origin xyz="0 0 0"/>
      </visual>
    </link>

</robot>
